@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

:root {
    --font1: 'Teko', sans-serif;
    --font2: 'Rubik Wet Paint', cursive;
    --font3: 'Raleway', sans-serif;
    --font4:  'Fjalla One', sans-serif;
    --font5: 'Bebas Neue', cursive;
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    background-size: cover;
}

.container {
    position: relative;
    min-height: 100vh;
    max-width: 540px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    border-right: 1px solid rgba(255, 255, 255, 0.053);
    border-left: 1px solid rgba(255, 255, 255, 0.053);
    background-image: url('./Imagens/cash-macanaya-Mcvt06el8y0-unsplash.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;

}

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 30vh;
    font-size: 5vw;
    
}

header>img {
    width: 130px;
    border-radius: 50%;
    border: 0.5px solid rgba(83, 46, 46, 0.74);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.688);
}

header>h2 {
    color: rgba(255, 255, 255, 0.951);
    letter-spacing: 5px;
    text-decoration: overline;
    font-family: var(--font4);

    
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}



h1 {
    font-family: var(--font5);
    letter-spacing: 4px;
    font-size: 5vw;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.285);
    border-radius: 1px;

}

.video {
    background-repeat: repeat-x,y;
    background-attachment: fixed;
    background-position: -220px 18px;
    position: relative;
    padding: 20px;
    padding-bottom: 59%;
    
    
    
}

.video-youtube {
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    box-shadow: 0px 0px 8px 1px rgba(153, 153, 153, 0.27);
}

#menu-h{
    list-style: none;
    padding: 0;
    text-align: center;
    font-family: var(--font3)
}
#menu-h li {
    display: inline;
}
#menu-h li a{
    display: inline-block;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: .8s;
    border: 1px solid rgba(231, 12, 12, 0.238);
    border-radius: 5px;
}

#menu-h li a:hover{
    background-color: rgba(191, 91, 91, 0.344);
}




footer {
}


@media(min-width: 510px) {
    h1 {
        font-size: 35px;
    }
}
@media(min-width: 510px){
    header{
        font-size: 2.2em ;
    }
}